.magazine-item {
  width: 152px;
  height: 102px;
  padding:  20px;

}

.magazine-item img {
    width: 112px;
    height: 62px;
    object-fit: contain;
}

.right{
    border-right: 1px solid #c7c7c7;
}

.bottom{
    border-bottom: 1px solid #c7c7c7;
}