.smart-head {
    width: 100%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}

.smart-head h2 {
    font-size: 36px;
    font-weight: 700;
}

.smart-head h2>span {
    color: #5dba2f;
}

.smart-head p {
    margin-top: 5px;
    font-weight: 500;
}